/*html {
	box-sizing: border-box;
}
*/
body {
	font-family: Arial;
	font-size: 14px;
	width: 100vw;
	height: 100vh;
	/*color: #abc5ed;*/
	color: #c9ddff;
	background-image: url("images/cumulus_clouds_seen_from_above.jpg");
	background-position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	box-sizing: border-box;
	position: absolute;
	width: 70%;
	margin: 0 auto;
	/*height: 80%;*/
	top: 150px;
	left: 15%;
	/*bottom: 10%;*/
	background-color: rgba(0,0,0,0.2);
	border-radius: 15px;
}	

h1 {
	font-size: 60px;
	font-family: "Courier New";
	text-align: center;
	position: relative;
	/*top: 20px;*/
	padding: 20px;
}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 10px auto;
}

nav li {
	display: inline-block;
	margin: 10px 5%;
}

nav li:hover {
	color: #3e82ef;
	cursor: pointer;
}

.container p {
	text-align: center;
	padding: 20px;
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-on {
	display: inline;
}

.modal-content {
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	margin: 20% auto;
	padding: 20px;
	border: 1px solid #abc5ed;
	border-radius: 5px;
	width: 70%;
}

.close{
	color: #e2edff;
	float: right;
	position: relative;
	bottom: 15px;
	left: 13px;
	font-size: 14px;
}

.close:hover {
	color: #3e82ef;
	cursor: pointer;
}

.login-form {
	padding: 8px;
	margin-bottom: 4px;
}

.login-button {
	background-color: #abc5ed;
	text-align: center;
	color: #e2edff;
	border: none;
	cursor: pointer;
}

.login-button:hover {
	background-color: #3e82ef;
}

.signup-button {
	font-size: 14px;
	/*background-color: #14cc79;*/
	/*color: #540d0d;*/
	background-color: #3e82ef;
	/*background-color: #abc5ed;*/
	color: #e2edff;
	width: 20%;
	border: 1px solid rgba(1,1,1,0);
	border-radius: 5px;
	padding: 5px 12px;
	margin-top: 15px;
}

.signup-button:hover {
	/*background-color: #ef1010;*/
	/*color: #c9ddff;*/
	color: #e2edff;
	border: 1px solid #e2edff;
	cursor: pointer;
}
